<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Add a post</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
	<th:block sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Login</a>
      </th:block>
			<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Hi <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
			<h1>Add a Post</h1>
		</div>
	<form th:action="@{/addforumpost}" th:object="${forum}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">
			<div class="form-group row">
				<label class="col-4 col-form-label">Heading: </label>
				<div class="col-8">
					<input type="text" th:field="*{heading}" class="form-control" required />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Body: </label>
				<div class="col-8">
					<input type="text" th:field="*{body}" class="form-control" required/>
				</div>
			</div>
			
			<div>
				<button type="submit" class="btn btn-primary">Add</button> 
			</div>
		</div>
		</form>
		
		
	</div>
</body>
</html>