<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List All Posts</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<div>
		<h1>List of Forum Posts</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Email</th>
					<th>Heading</th>
					<th>Body</th>
					<th>Timestamp</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post: ${allPosts}">
					<td th:text="${post.userEmail}">Email</td>
					<td th:text="${post.heading}">Heading</td>
					<td th:text="${post.body}">Body</td>
					<td th:text="${post.timestamp}">Timestamp</td>
				</tr>
			</tbody>
		</table>
			
				<h3><a th:href="@{/addpost}">Add a Forum Post</a></h3>
			
				<h3><a th:href="@{/users}">User Home</a></h3>
	</div>
</div>
</body>
</html>